<div class="info">
  <div class="welcome">
    <h1>Welcome to <br> Kut it!</h1>
      <div class="about">Kut-it is a cut calculator for drum makers that calculates cut sizes for ply and stembent drum shells.
         Once a user calculates a cut they can store the cut in a cut list.
         There is also a "scrap bin" where users can log scraps from cuts.
         The scrap bin can calculate what drums can be made from each scrap so that users don't waste material.
         Stay sharp with Kut It!
       </div>
    <div>
      <%= link_to 'Demo Our App', "/guest", class: 'navButton'%>
    </div>
  </div>
</div>
