<div class="info">
  <div class="welcome">
    <h1>Welcome to <br> Kut it!</h1>
      <div class="about">
      Kut-It is a cut calculator for drum makers that calculates
      cut sizes for ply and solid drum shells. Once you calculate a
      cut, you can store the cut in your cut list. There is also a
      "scrap bin" where you can log scraps from cuts. Stay sharp
      with Kut-It!
      </div>
      <div>
        <%= link_to 'Demo Our App', "/guest", class: 'navButton'%>
      </div>
  </div>
</div>
