<nav>
  <div id="left">
    <div></div>

  </div>

  <div id="right">
    <div><%= link_to 'Ply Calculator', "/ply", class: 'navButton' %></div>
    <div><%= link_to 'Scarf Calculator', "/scarf", class: 'navButton' %></div>
  </div>
  
</nav>
